matplotlib==3.10.3
numpy==2.3.2
qiskit==2.1.1
-e /home/miles/Documents/Qiskit_intro/qiskit_intro
scipy==1.16.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
qiskit[visualization, simulators]
